$color_grey: rgb(66, 63, 63);
$color_white: #fff;
$font-family_1: -apple-system, BlinkMacSystemFont, sans-serif;
$background-color_white: #fff; //container background
$background-color_aqua: #87e7a5; //add task btn
$background-color_pureWhite: #f9f9f9; //default list element background
$background-color_offwhite: #e9e9e9; //on hover list background
$background-color_red: #f44336; //delete button
$background-color_blue: #265073; //all button
$background-color_olive: #adbc9f; //completed button
$background-color_rust: #c68484; //active button
$background-color_peach: #ff8080; //clear button

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  margin: auto;
  font-family: $font-family_1;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: $background-color_white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: $color_grey;
  padding-bottom: 5%;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.add-task {
  padding: 10px 30px;
  font-size: 16px;
  background-color: $background-color_aqua;
  color: $color_white;
  border: none;
  border-radius: 5px 5px;
  cursor: pointer;
  margin-left: 3%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px 10px;
  background-color: $background-color_pureWhite;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
  overflow: scroll;

  &:hover {
    background-color: $background-color_offwhite;
  }
}

.delete-btn {
  float: right;
  background-color: $background-color_red;
  color: $color_white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.filter-buttons {
  margin-bottom: 20px;

  button {
    margin-right: 10px;
  }
}

#allTasksBtn,
#completedTasksBtn,
#yetToBeDoneTasksBtn,
#clearCompletedBtn {
  padding: 10px 20px;
  font-size: 16px;
  color: $color_white;
  border: none;
  border-radius: 5px 5px;
  cursor: pointer;
}
#allTasksBtn {
  background-color: $background-color_blue;
}

#completedTasksBtn {
  background-color: $background-color_olive;
}

#yetToBeDoneTasksBtn {
  background-color: $background-color_rust;
}

#clearCompletedBtn {
  background-color: $background-color_peach;
}

.container {
  position: relative;
}

ul#taskList {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 15px;
}

ul#taskList::-webkit-scrollbar {
  background-color: pink;
  width: 12px;
}
ul#taskList::-webkit-scrollbar-thumb {
  background: rgb(223, 166, 223);
  border-radius: 50px;
}

.filter-buttons {
  position: sticky;
  top: 20px;
  background-color: #fff;
  z-index: 1;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;

  &:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }

  &:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
}
